*~
*#*

# CABAL
/dist
/cabal-dev
/.cabal-sandbox
/cabal.sandbox.config

# Haskell Program Coverage
/.hpc

# Leksah
*.lkshs

# Intellij IDEA
/.idea

# darcs
/_darcs

# ctags
TAGS

# sbt
/project
/target

*.swp

# Stack
.stack-work/




# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/


*/.ensime_cache
*/.ensime